* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #0a0a0a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: #111;
  padding: 40px;
  border-radius: 14px;
  width: 320px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.6);
  text-align: center;
}

h1 {
  margin-bottom: 5px;
}

.subtitle {
  color: #aaa;
  margin-bottom: 25px;
}

input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  background: #222;
  color: #fff;
}

input:focus {
  outline: 2px solid #fff;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #fff;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #ddd;
}

#errorMsg {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}
